ion-title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: black;
}
ion-button{
    padding-left: 30px;
}
ion-list-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
ion-label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}